@import "tailwindcss";

:root {
  --brandLightBackgroundImmutable: #9FC2B0;
  --brandDarkBackgroundImmutable: #315C34;
  --brandLightBackgroundDisabledMutable: #E6F0E9;
  --brandDarkBackgroundDisabledMutable: #E6F0E9;
  --brandLightBackgroundDisabledImmutable: #E6F0E9;
  --brandDarkBackgroundDisabledImmutable: #E6F0E9;
  --brandLightTextImmutable: #5A5A5A;
  --brandDarkTextImmutable: #707070;
  --brandLightTextDisabledMutable: #828282;
  --brandDarkTextDisabledMutable: #EDEDED;
  --brandLightTextDisabledImmutable: #828282;
  --brandDarkTextDisabledImmutable: #EDEDED;
  --midnightLightMutable: #000000;
  --midnightDarkMutable: #000000;
  --highlightLightMutable: #FFFFF;
  --highlightDarkMutable: #000000;
  --backgroundDefaultLightMutable: #F9F9F9;
  --backgroundDefaultDarkMutable: #141419;
  --backgroundSecondaryLightMutable: #EEF2F7;
  --backgroundSecondaryDarkMutable: #1A1A24;
  --textOnPrimaryLightMutable: #141419;
  --textOnPrimaryDarkMutable: #EDEDED;
  --textOnSecondaryLightMutable: #828282;
  --textOnSecondaryDarkMutable: #EDEDED;
  --textOnDisabledLightMutable: #A8A8A8;
  --textOnDisabledDarkMutable: #A8A8A8;
  --dangerLightBackgroundImmutable: #FBE3E3;
  --dangerDarkBackgroundImmutable: #FBE3E3;
  --dangerLightBackgroundDisabledMutable: #F9D1D1;
  --dangerDarkBackgroundDisabledMutable: #F9D1D1;
  --dangerLightBackgroundDisabledImmutable: #F9D1D1;
  --dangerDarkBackgroundDisabledImmutable: #F9D1D1;
  --dangerLightTextImmutable: #E53E3E;
  --dangerDarkTextImmutable: #E53E3E;
  --warningLightBackgroundImmutable: #FFF3E0;
  --warningDarkBackgroundImmutable: #FFF3E0;
  --warningLightBackgroundDisabledMutable: #FFE0B2;
  --warningDarkBackgroundDisabledMutable: #FFE0B2;
  --warningLightTextImmutable: #D69D2E;
  --warningDarkTextImmutable: #D69D2E;
  --successLightBackgroundImmutable: #E6F0E9;
  --successDarkBackgroundImmutable: #E6F0E9;
  --successLightTextImmutable: #2E7D32;
  --successDarkTextImmutable: #2E7D32;
  --infoLightBackgroundImmutable: #E3F2FD;
  --infoDarkBackgroundImmutable: #E3F2FD;
  --infoLightTextImmutable: #0288D1;
  --infoDarkTextImmutable: #0288D1;
}

.dark {
  --brandLightBackgroundImmutable: #315C34;
  --brandDarkBackgroundImmutable: #315C34;
  --brandLightBackgroundDisabledMutable: #E6F0E9;
  --brandDarkBackgroundDisabledMutable: #E6F0E9;
  --brandLightBackgroundDisabledImmutable: #E6F0E9;
  --brandDarkBackgroundDisabledImmutable: #E6F0E9;
  --brandLightTextImmutable: #707070;
  --brandDarkTextImmutable: #707070;
  --brandLightTextDisabledMutable: #EDEDED;
  --brandDarkTextDisabledMutable: #EDEDED;
  --brandLightTextDisabledImmutable: #EDEDED;
  --brandDarkTextDisabledImmutable: #EDEDED;
  --midnightLightMutable: #000000;
  --midnightDarkMutable: #000000;
  --highlightLightMutable: #000000;
  --highlightDarkMutable: #000000;
  --backgroundDefaultLightMutable: #141419;
  --backgroundDefaultDarkMutable: #141419;
  --backgroundSecondaryLightMutable: #1A1A24;
  --backgroundSecondaryDarkMutable: #1A1A24;
  --textOnPrimaryLightMutable: #EDEDED;
  --textOnPrimaryDarkMutable: #EDEDED;
  --textOnSecondaryLightMutable: #EDEDED;
  --textOnSecondaryDarkMutable: #EDEDED;
  --textOnDisabledLightMutable: #A8A8A8;
  --textOnDisabledDarkMutable: #A8A8A8;
  --dangerLightBackgroundImmutable: #FBE3E3;
  --dangerDarkBackgroundImmutable: #FBE3E3;
  --dangerLightBackgroundDisabledMutable: #F9D1D1;
  --dangerDarkBackgroundDisabledMutable: #F9D1D1;
  --dangerLightBackgroundDisabledImmutable: #F9D1D1;
  --dangerDarkBackgroundDisabledImmutable: #F9D1D1;
  --dangerLightTextImmutable: #E53E3E;
  --dangerDarkTextImmutable: #E53E3E;
  --warningLightBackgroundImmutable: #FFF3E0;
  --warningDarkBackgroundImmutable: #FFF3E0;
  --warningLightBackgroundDisabledMutable: #FFE0B2;
  --warningDarkBackgroundDisabledMutable: #FFE0B2;
  --warningLightTextImmutable: #D69D2E;
  --warningDarkTextImmutable: #D69D2E;
  --successLightBackgroundImmutable: #E6F0E9;
  --successDarkBackgroundImmutable: #E6F0E9;
  --successLightTextImmutable: #2E7D32;
  --successDarkTextImmutable: #2E7D32;
  --infoLightBackgroundImmutable: #E3F2FD;
  --infoDarkBackgroundImmutable: #E3F2FD;
  --infoLightTextImmutable: #0288D1;
  --infoDarkTextImmutable: #0288D1;
}

@theme {
  --color-brandLightBackgroundImmutable: #9FC2B0;
  --color-brandDarkBackgroundImmutable: #315C34;
  --color-brandLightBackgroundDisabledMutable: #E6F0E9;
  --color-brandDarkBackgroundDisabledMutable: #E6F0E9;
  --color-brandLightBackgroundDisabledImmutable: #E6F0E9;
  --color-brandDarkBackgroundDisabledImmutable: #E6F0E9;
  --color-brandLightTextImmutable: #5A5A5A;
  --color-brandDarkTextImmutable: #707070;
  --color-brandLightTextDisabledMutable: #828282;
  --color-brandDarkTextDisabledMutable: #EDEDED;
  --color-brandLightTextDisabledImmutable: #828282;
  --color-brandDarkTextDisabledImmutable: #EDEDED;
  --color-midnightLightMutable: #000000;
  --color-midnightDarkMutable: #000000;
  --color-highlightLightMutable: #FFFFF;
  --color-highlightDarkMutable: #000000;
  --color-backgroundDefaultLightMutable: #F9F9F9;
  --color-backgroundDefaultDarkMutable: #141419;
  --color-backgroundSecondaryLightMutable: #EEF2F7;
  --color-backgroundSecondaryDarkMutable: #1A1A24;
  --color-textOnPrimaryLightMutable: #141419;
  --color-textOnPrimaryDarkMutable: #EDEDED;
  --color-textOnSecondaryLightMutable: #828282;
  --color-textOnSecondaryDarkMutable: #EDEDED;
  --color-textOnDisabledLightMutable: #A8A8A8;
  --color-textOnDisabledDarkMutable: #A8A8A8;
  --color-dangerLightBackgroundImmutable: #FBE3E3;
  --color-dangerDarkBackgroundImmutable: #FBE3E3;
  --color-dangerLightBackgroundDisabledMutable: #F9D1D1;
  --color-dangerDarkBackgroundDisabledMutable: #F9D1D1;
  --color-dangerLightBackgroundDisabledImmutable: #F9D1D1;
  --color-dangerDarkBackgroundDisabledImmutable: #F9D1D1;
  --color-dangerLightTextImmutable: #E53E3E;
  --color-dangerDarkTextImmutable: #E53E3E;
  --color-warningLightBackgroundImmutable: #FFF3E0;
  --color-warningDarkBackgroundImmutable: #FFF3E0;
  --color-warningLightBackgroundDisabledMutable: #FFE0B2;
  --color-warningDarkBackgroundDisabledMutable: #FFE0B2;
  --color-warningLightTextImmutable: #D69D2E;
  --color-warningDarkTextImmutable: #D69D2E;
  --color-successLightBackgroundImmutable: #E6F0E9;
  --color-successDarkBackgroundImmutable: #E6F0E9;
  --color-successLightTextImmutable: #2E7D32;
  --color-successDarkTextImmutable: #2E7D32;
  --color-infoLightBackgroundImmutable: #E3F2FD;
  --color-infoDarkBackgroundImmutable: #E3F2FD;
  --color-infoLightTextImmutable: #0288D1;
  --color-infoDarkTextImmutable: #0288D1;
}