@import "tailwindcss";

:root {
  --brand-background-text-immutable: #58C2DB;
  --brand-light-background-mutable: #E0FAFF;
  --brand-light-background-immutable: #E0FAFF;
  --brand-light-background-disabled-mutable: #E0FAFF;
  --brand-dark-background-mutable: #135160;
  --brand-dark-background-immutable: #135160;
  --brand-text-light-mutable: #3AAAC5;
  --brand-text-disabled-mutable: #28BEA7;
  --midnight-mutable: #0C0000;
  --midnight-immutable: #0C0000;
  --bright-mutable: #FFFFFF;
  --bright-immutable: #FFFFFF;
  --background-default-mutable: #F9FAFC;
  --background-primary-mutable: #EEF0F7;
  --background-secondary-mutable: #E4F7F2;
  --text-icon-primary1-mutable: #141829;
  --text-icon-primary2-mutable: #3A4969;
  --text-icon-secondary1-mutable: #5C6D94;
  --text-icon-secondary2-mutable: #8A99BC;
  --text-icon-disabled-immutable: #AFB8D4;
  --line1-primary-mutable: #8A99BC;
  --danger-background-immutable: #E53935;
  --danger-light-background-mutable: #F9D3D1;
  --danger-light-background-immutable: #F9D3D1;
  --danger-light-background-disabled-mutable: #F9D3D1;
  --danger-dark-background-mutable: #6D0F0F;
  --danger-dark-background-immutable: #6D0F0F;
  --danger-text-light-immutable: #E53935;
  --danger-text-disabled-immutable: #9E9E9E;
  --warning-background-immutable: #FFC107;
  --warning-light-background-mutable: #FFECB3;
  --warning-light-background-immutable: #FFECB3;
  --warning-light-background-disabled-mutable: #FFECB3;
  --warning-dark-background-mutable: #C68801;
  --warning-dark-background-immutable: #C68801;
  --warning-text-light-immutable: #D99902;
  --warning-text-disabled-immutable: #FFC107;
  --success-background-immutable: #2EB653;
  --success-light-background-mutable: #D0ECD8;
  --success-light-background-immutable: #D0ECD8;
  --success-light-background-disabled-mutable: #D0ECD8;
  --success-dark-background-mutable: #0F4323;
  --success-dark-background-immutable: #0F4323;
  --success-text-light-immutable: #2EB653;
  --success-text-disabled-immutable: #75C689;
  --info-background-immutable: #0A74FF;
  --info-light-background-mutable: #E6F0FF;
  --info-light-background-immutable: #E6F0FF;
  --info-light-background-disabled-mutable: #E6F0FF;
  --info-dark-background-mutable: #002966;
  --info-dark-background-immutable: #002966;
  --info-text-light-immutable: #0A74FF;
  --info-text-disabled-immutable: #6EA3FF;

  /* Hover colors */
  --brand-background-text-immutable-hover: #1E53D6;
  --brand-light-background-mutable-hover: #D6E4FF;
  --brand-light-background-immutable-hover: #D6E4FF;
  --brand-dark-background-text-mutable-hover: #D6E4FF;
  --brand-dark-background-text-immutable-hover: #0E2A78;
  --brand-text-light-mutable-hover: #1E53D6;
  --background-primary-mutable-hover: #E8E8E8;
  --background-secondary-mutable-hover: #BDBDBD;
  --texticon-primary1-mutable-hover: #424242;
  --texticon-primary2-mutable-hover: #212121;
  --danger-background-immutable-hover: #C62828;
  --danger-light-background-mutable-hover: #F4AFAE;
  --danger-light-background-immutable-hover: #F4AFAE;
  --danger-dark-background-mutable-hover: #8E1414;
  --danger-dark-background-immutable-hover: #8E1414;
  --danger-text-light-immutable-hover: #E53935;
  --warning-background-immutable-hover: #FFB300;
  --warning-light-background-mutable-hover: #FFE082;
  --warning-light-background-immutable-hover: #FFE082;
  --warning-dark-background-mutable-hover: #D99902;
  --warning-dark-background-immutable-hover: #D99902;
  --warning-text-light-immutable-hover: #C68801;
  --success-background-immutable-hover: #249648;
  --success-light-background-mutable-hover: #A3D9B0;
  --success-light-background-immutable-hover: #A3D9B0;
  --success-dark-background-mutable-hover: #155D2F;
  --success-dark-background-immutable-hover: #155D2F;
  --success-text-light-immutable-hover: #249648;
  --info-background-immutable-hover: #0066FF;
  --info-light-background-mutable-hover: #CCE0FF;
  --info-light-background-immutable-hover: #CCE0FF;
  --info-dark-background-mutable-hover: #0033D9;
  --info-dark-background-immutable-hover: #0033D9;
  --info-text-light-immutable-hover: #0066FF;
}

.dark {
  --brand-background-text-immutable: #58C2DB;
  --brand-light-background-mutable: #135160;
  --brand-light-background-immutable: #E0FAFF;
  --brand-light-background-disabled-mutable: #F5F5F5;
  --brand-dark-background-mutable: #E0FAFF;
  --brand-dark-background-immutable: #135160;
  --brand-text-light-mutable: #F2FDFF;
  --brand-text-disabled-mutable: #9E9E9E;
  --midnight-mutable: #FFFFFF;
  --midnight-immutable: #0C0000;
  --bright-mutable: #0C0000;
  --bright-immutable: #FFFFFF;
  --background-default-mutable: #141829;
  --background-primary-mutable: #25324B;
  --background-secondary-mutable: #3A4969;
  --text-icon-primary1-mutable: #FFFFFF;
  --text-icon-primary2-mutable: #8DC4D9;
  --text-icon-secondary1-mutable: #8A99BC;
  --text-icon-secondary2-mutable: #5C6D94;
  --text-icon-disabled-immutable: #5C6D94;
  --line1-primary-mutable: #5C6D94;
  --danger-background-immutable: #E53935;
  --danger-light-background-mutable: #E53935;
  --danger-light-background-immutable: #F9D3D1;
  --danger-light-background-disabled-mutable: #F5F5F5;
  --danger-dark-background-mutable: #F9D3D1;
  --danger-dark-background-immutable: #6D0F0F;
  --danger-text-light-immutable: #FDECEA;
  --danger-text-disabled-immutable: #9E9E9E;
  --warning-background-immutable: #FFC107;
  --warning-light-background-mutable: #C68801;
  --warning-light-background-immutable: #FFECB3;
  --warning-light-background-disabled-mutable: #F5F5F5;
  --warning-dark-background-mutable: #FFEC83;
  --warning-dark-background-immutable: #C68801;
  --warning-text-light-immutable: #FFF8E1;
  --warning-text-disabled-immutable: #9E9E9E;
  --success-background-immutable: #2EB653;
  --success-light-background-mutable: #0F4323;
  --success-light-background-immutable: #D0ECD8;
  --success-light-background-disabled-mutable: #F5F5F5;
  --success-dark-background-mutable: #D0ECD8;
  --success-dark-background-immutable: #0F4323;
  --success-text-light-immutable: #D0ECD8;
  --success-text-disabled-immutable: #9E9E9E;
  --info-background-immutable: #0A74FF;
  --info-light-background-mutable: #002966;
  --info-light-background-immutable: #E6F0FF;
  --info-light-background-disabled-mutable: #F5F5F5;
  --info-dark-background-mutable: #E6F0FF;
  --info-dark-background-immutable: #002966;
  --info-text-light-immutable: #E6F0FF;
  --info-text-disabled-immutable: #9E9E9E;

  /* Hover colors */
  --brand-background-text-immutable-hover: #2563EB;
  --brand-light-background-mutable-hover: #0E2A78;
  --brand-light-background-immutable-hover: #D6E4FF;
  --brand-dark-background-text-mutable-hover: #F5F5F5;
  --brand-dark-background-text-immutable-hover: #D6E4FF;
  --brand-text-light-mutable-hover: #EAF1FF;
  --background-primary-mutable-hover: #9E9E9E;
  --background-secondary-mutable-hover: #212121;
  --texticon-primary1-mutable-hover: #F5F5F5;
  --texticon-primary2-mutable-hover: #FFFFFF;
  --danger-background-immutable-hover: #C62828;
  --danger-light-background-mutable-hover: #C62828;
  --danger-light-background-immutable-hover: #F4AFAE;
  --danger-dark-background-mutable-hover: #F4AFAE;
  --danger-dark-background-immutable-hover: #8E1414;
  --danger-text-light-immutable-hover: #F9D3D1;
  --warning-background-immutable-hover: #FFB300;
  --warning-light-background-mutable-hover: #D99902;
  --warning-light-background-immutable-hover: #FFE082;
  --warning-dark-background-mutable-hover: #FFE082;
  --warning-dark-background-immutable-hover: #D99902;
  --warning-text-light-immutable-hover: #FFECB3;
  --success-background-immutable-hover: #249648;
  --success-light-background-mutable-hover: #155D2F;
  --success-light-background-immutable-hover: #A3D9B0;
  --success-dark-background-mutable-hover: #A3D9B0;
  --success-dark-background-immutable-hover: #155D2F;
  --success-text-light-immutable-hover: #A3D9B0;
  --info-background-immutable-hover: #0066FF;
  --info-light-background-mutable-hover: #0033D9;
  --info-light-background-immutable-hover: #CCE0FF;
  --info-dark-background-mutable-hover: #CCE0FF;
  --info-dark-background-immutable-hover: #0033D9;
  --info-text-light-immutable-hover: #CCE0FF;
}

@theme {
  --color-brand-background-text-immutable: var(--brand-background-text-immutable);
  --color-brand-light-background-mutable: var(--brand-light-background-mutable);
  --color-brand-light-background-immutable: var(--brand-light-background-immutable);
  --color-brand-light-background-disabled-mutable: var(--brand-light-background-disabled-mutable);
  --color-brand-dark-background-mutable: var(--brand-dark-background-mutable);
  --color-brand-dark-background-immutable: var(--brand-dark-background-immutable);
  --color-brand-text-light-mutable: var(--brand-text-light-mutable);
  --color-brand-text-disabled-mutable: var(--brand-text-disabled-mutable);
  --color-midnight-mutable: var(--midnight-mutable);
  --color-midnight-immutable: var(--midnight-immutable);
  --color-bright-mutable: var(--bright-mutable);
  --color-bright-immutable: var(--bright-immutable);
  --color-background-default-mutable: var(--background-default-mutable);
  --color-background-primary-mutable: var(--background-primary-mutable);
  --color-background-secondary-mutable: var(--background-secondary-mutable);
  --color-text-icon-primary1-mutable: var(--text-icon-primary1-mutable);
  --color-text-icon-primary2-mutable: var(--text-icon-primary2-mutable);
  --color-text-icon-secondary1-mutable: var(--text-icon-secondary1-mutable);
  --color-text-icon-secondary2-mutable: var(--text-icon-secondary2-mutable);
  --color-text-icon-disabled-immutable: var(--text-icon-disabled-immutable);
  --color-line1-primary-mutable: var(--line1-primary-mutable);
  --color-danger-background-immutable: var(--danger-background-immutable);
  --color-danger-light-background-mutable: var(--danger-light-background-mutable);
  --color-danger-light-background-immutable: var(--danger-light-background-immutable);
  --color-danger-light-background-disabled-mutable: var(--danger-light-background-disabled-mutable);
  --color-danger-dark-background-mutable: var(--danger-dark-background-mutable);
  --color-danger-dark-background-immutable: var(--danger-dark-background-immutable);
  --color-danger-text-light-immutable: var(--danger-text-light-immutable);
  --color-danger-text-disabled-immutable: var(--danger-text-disabled-immutable);
  --color-warning-background-immutable: var(--warning-background-immutable);
  --color-warning-light-background-mutable: var(--warning-light-background-mutable);
  --color-warning-light-background-immutable: var(--warning-light-background-immutable);
  --color-warning-light-background-disabled-mutable: var(--warning-light-background-disabled-mutable);
  --color-warning-dark-background-mutable: var(--warning-dark-background-mutable);
  --color-warning-dark-background-immutable: var(--warning-dark-background-immutable);
  --color-warning-text-light-immutable: var(--warning-text-light-immutable);
  --color-warning-text-disabled-immutable: var(--warning-text-disabled-immutable);
  --color-success-background-immutable: var(--success-background-immutable);
  --color-success-light-background-mutable: var(--success-light-background-mutable);
  --color-success-light-background-immutable: var(--success-light-background-immutable);
  --color-success-light-background-disabled-mutable: var(--success-light-background-disabled-mutable);
  --color-success-dark-background-mutable: var(--success-dark-background-mutable);
  --color-success-dark-background-immutable: var(--success-dark-background-immutable);
  --color-success-text-light-immutable: var(--success-text-light-immutable);
  --color-success-text-disabled-immutable: var(--success-text-disabled-immutable);
  --color-info-background-immutable: var(--info-background-immutable);
  --color-info-light-background-mutable: var(--info-light-background-mutable);
  --color-info-light-background-immutable: var(--info-light-background-immutable);
  --color-info-light-background-disabled-mutable: var(--info-light-background-disabled-mutable);
  --color-info-dark-background-mutable: var(--info-dark-background-mutable);
  --color-info-dark-background-immutable: var(--info-dark-background-immutable);
  --color-info-text-light-immutable: var(--info-text-light-immutable);
  --color-info-text-disabled-immutable: var(--info-text-disabled-immutable);

  /* Hover colors */
  --color-brand-background-text-immutable-hover: var(--brand-background-text-immutable-hover);
  --color-brand-light-background-mutable-hover: var(--brand-light-background-mutable-hover);
  --color-brand-light-background-immutable-hover: var(--brand-light-background-immutable-hover);
  --color-brand-dark-background-text-mutable-hover: var(--brand-dark-background-text-mutable-hover);
  --color-brand-dark-background-text-immutable-hover: var(--brand-dark-background-text-immutable-hover);
  --color-brand-text-light-mutable-hover: var(--brand-text-light-mutable-hover);
  --color-background-primary-mutable-hover: var(--background-primary-mutable-hover);
  --color-background-secondary-mutable-hover: var(--background-secondary-mutable-hover);
  --color-texticon-primary1-mutable-hover: var(--texticon-primary1-mutable-hover);
  --color-texticon-primary2-mutable-hover: var(--texticon-primary2-mutable-hover);
  --color-danger-background-immutable-hover: var(--danger-background-immutable-hover);
  --color-danger-light-background-mutable-hover: var(--danger-light-background-mutable-hover);
  --color-danger-light-background-immutable-hover: var(--danger-light-background-immutable-hover);
  --color-danger-dark-background-mutable-hover: var(--danger-dark-background-mutable-hover);
  --color-danger-dark-background-immutable-hover: var(--danger-dark-background-immutable-hover);
  --color-danger-text-light-immutable-hover: var(--danger-text-light-immutable-hover);
  --color-warning-background-immutable-hover: var(--warning-background-immutable-hover);
  --color-warning-light-background-mutable-hover: var(--warning-light-background-mutable-hover);
  --color-warning-light-background-immutable-hover: var(--warning-light-background-immutable-hover);
  --color-warning-dark-background-mutable-hover: var(--warning-dark-background-mutable-hover);
  --color-warning-dark-background-immutable-hover: var(--warning-dark-background-immutable-hover);
  --color-warning-text-light-immutable-hover: var(--warning-text-light-immutable-hover);
  --color-success-background-immutable-hover: var(--success-background-immutable-hover);
  --color-success-light-background-mutable-hover: var(--success-light-background-mutable-hover);
  --color-success-light-background-immutable-hover: var(--success-light-background-immutable-hover);
  --color-success-dark-background-mutable-hover: var(--success-dark-background-mutable-hover);
  --color-success-dark-background-immutable-hover: var(--success-dark-background-immutable-hover);
  --color-success-text-light-immutable-hover: var(--success-text-light-immutable-hover);
  --color-info-background-immutable-hover: var(--info-background-immutable-hover);
  --color-info-light-background-mutable-hover: var(--info-light-background-mutable-hover);
  --color-info-light-background-immutable-hover: var(--info-light-background-immutable-hover);
  --color-info-dark-background-mutable-hover: var(--info-dark-background-mutable-hover);
  --color-info-dark-background-immutable-hover: var(--info-dark-background-immutable-hover);
  --color-info-text-light-immutable-hover: var(--info-text-light-immutable-hover);
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--line1-primary-mutable, currentcolor);
  }
}